@charset "utf-8";
/*media.css*/

/* Tablet (가로폭 768px 이상, 1023px 이하) */
@media all and (min-width:768px) and (max-width:1023px) {

    /* 브라우저 가로폭이 768~1023px일때 적용될 css (태블릿) */

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    h3 {
        font-size: 4rem;
    }

    header {
        width: 100%;
        height: 100px;
    }

    header h1 {
        width: 100vw;
        left: 10px;
        box-sizing: border-box;
        padding: 0px 20px;
    }

    header h1 img {
        width: 60%;
    }

    header h2 {
        display: none;
    }

    /***************분야***************/
    section.B {
        width: 100%;
        height: 1400px;
    }

    section.B .cbox {
        width: 90vw;
        height: 1400px;
    }

    section.B .column {
        text-align: center;
        position: relative;
        height: auto;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        padding: 0;
        margin-bottom: 40px;
    }

    section.B .column h4 {
        font-size: 2rem;
    }

    section.B .column p {
        font-size: 1.6rem;
    }

    /***************분야:끝***************/
    
    /***************사무소소개***************/
    section.C {
        height: 1200px;
    }

    section.C h4 {
        position: relative;
        width: 80vw;
        font-size: 1.6rem;
        left: 50%;
        transform: translateX(-50%);
    }

    section.C img {
        display: none;
    }

    section.C .office p {
        position: relative;
        width: 80vw;
        font-size: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    section.C .span{
        display: none;
    }

    /***************사무소소개:끝***************/
    
    /***************변리사소개***************/

    section.E {
        height: 1400px;
    }

    /*"박상환 파트너변리사"*/
    section.E .Etit {
        position: relative;
        font-size: 2.5rem;
        line-height: 4rem;
        font-weight: 550;
        color: #303030;
        z-index: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    section.E .cbox {
        width: 100vw;
    }

    /*글자박스*/
    section.E .inbox {
        width: 80vw;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
    }

    /*단락*/
    section.E .inbox .column {
        width: 100vw;
        margin-top: 30px;
        float: left;
        top: 120px;
        padding: 0;
        /*height: 0;*/
    }

    /*변리사님 이미지*/
    section.E .back04 {
        display: none;
    }


    /*변리사님 이미지2*/
    section.E .inbox .column3 {
        display: none;
    }

    /***************변리사소개:끝***************/
    /**************문의하기**************/
    section.F p {
        display: none;
    }

    /*좌측 검은박스*/
    section.F .bg {
        display: none;
    }

    /*문의하기 내용*/
    section.F .askbox {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        height: 100vh;
        z-index: 2;
        display: inline-block;
    }

    section.F .askbox ul li {
        font-size: 1.3rem;
    }

    section.F .askbox input.fstin {
        width: 70vw;
    }

    section.F .secondask{
        width: 100%;
    }
    
    section.F .askbox #scdin {
        position: relative;
        width: 70vw;
    }

    section.F .askbox button {
        position: absolute;
        bottom: 110px;
        z-index: 1;
        right: 35px;
    }

    section.F .askbox #map {
        width: 80vw;
        height: 150px;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
    }

    /**************문의하기:끝**************/
}

@media screen and (max-width:767px) {

    /* 모바일 CSS */
    /*2.모바일사이즈 가로스크롤 없애기*/
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    h3 {
        font-size: 4rem;
    }

    header h1 {
        width: 100vw;
        left: 10px;
        box-sizing: border-box;
        padding: 0px 20px;
    }

    header h1 img {
        width: 100%;
    }

    header h2 {
        display: none;
    }

    /***************메인배너***************/
    section.A .bg {
        min-width: 100vw;
    }

    section.A ul.tit {
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
    }

    section.A ul.tit li:nth-of-type(1) {
        font-size: 4rem;
    }

    section.A ul.tit li:nth-of-type(2) {
        font-size: 1.6rem;
    }

    /***************메인배너:끝***************/

    /***************분야***************/
    section.B {
        width: 100%;
        height: 1400px;
    }

    section.B .cbox {
        width: 90vw;
        height: 1400px;
    }

    section.B .column {
        position: relative;
        height: auto;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        padding: 0;
        margin-bottom: 40px;
    }

    section.B .column h4 {
        font-size: 1.5rem;
    }

    section.B .column p {
        font-size: 1.4rem;
    }

    /***************분야:끝***************/

    /***************사무소소개***************/
    section.C {
        height: 1200px;
    }

    section.C h4 {
        position: relative;
        width: 80vw;
        font-size: 1.6rem;
        left: 50%;
        transform: translateX(-50%);
    }

    section.C img {
        display: none;
    }

    section.C .office p {
        position: relative;
        width: 80vw;
        font-size: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    /***************사무소소개:끝***************/

    /***************영상부분***************/
    section.D {
        display: none;
    }

    section.D .video {
        display: none;
    }

    /***************영상부분:끝***************/

    /***************변리사소개***************/

    section.E {
        height: 1400px;
    }

    /*"박상환 파트너변리사"*/
    section.E .Etit {
        position: relative;
        font-size: 2.5rem;
        line-height: 4rem;
        font-weight: 550;
        color: #303030;
        z-index: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    section.E .cbox {
        width: 100vw;
    }

    /*글자박스*/
    section.E .inbox {
        width: 80vw;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /*단락*/
    section.E .inbox .column {
        width: 100vw;
        margin-top: 30px;
        float: left;
        top: 120px;
        padding: 0;
        /*height: 0;*/
    }

    /*변리사님 이미지*/
    section.E .back04 {
        display: none;
    }


    /*변리사님 이미지2*/
    section.E .inbox .column3 {
        display: none;
    }

    section.E .inbox .columntop {
        position: relative;
        width: 80vw;
        height: 50vh;
    }

    section.E .inbox .columntop .bookbox {
        float: left;
        width: 140px;
        height: 300px;
        box-sizing: border-box;
        padding: 20px;
    }

    section.E .inbox .columntop .bookbox p {
        text-align: center;
    }

    section.E .inbox .columntop .bookbox p:nth-of-type(1) {
        font-size: 1.8rem;
        font-weight: 500;
    }

    section.E .inbox .columntop .bookbox p:nth-of-type(2) {
        font-size: 1.5rem;
    }

    /***************변리사소개:끝***************/

    /**************문의하기**************/
    section.F p {
        display: none;
    }

    /*좌측 검은박스*/
    section.F .bg {
        display: none;
    }

    /*문의하기 내용*/
    section.F .askbox {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        height: 100vh;
        z-index: 2;
        display: inline-block;
    }

    section.F .askbox ul li {
        font-size: 1.3rem;
    }

    section.F .askbox input.fstin {
        width: 70vw;
    }

    section.F .askbox #scdin {
        width: 70vw;
    }

    section.F .askbox button {
        position: absolute;
        bottom: 110px;
        z-index: 1;
        right: 35px;
    }

    section.F .askbox #map {
        width: 80vw;
        height: 150px;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
    }

    /**************문의하기:끝**************/

}
